h1#heading {
  margin-top: -12px;
}

h2#sub-heading {
  margin-top: -2px;
}

h3 {
  margin-top: 5px;
}

h6.country-subtitle {
  margin-top: -6px;
}

#recipe-box {
  background: #DDD;
}

#recipe-list, #recipe-description, #pizza-stats {
  margin: 1em 0;
}

#chicago-recipe,
#ny-recipe,
#philly-recipe,
#rio-de-janeiro-recipe,
#naples-recipe,
#paris-recipe,
#berlin-recipe,
#moscow-recipe,
#athens-recipe,
#istanbul-recipe,
#new-delhi-recipe,
#nagoya-recipe {
  display: none;
}

.center {
  text-align: center;
}

.cities-column {
  width: 50%;
}

.list-item {
  padding-left: 2px;
}

.pizza-recipe:hover {
  cursor: pointer;
  text-decoration: underline;
}

.topping-column {
  padding-left: 6px;
  padding-right: 6px;
}
