body {
  background: #F8F3F9;
  font-family: 'Roboto Condensed', sans-serif;
}

h1#heading {
  font-family: 'Righteous', cursive;
  font-size: 3.5em;
  margin: 0;
  color: #E44424;
}

h2 {
  font-family: 'Slabo 27px', serif;
  margin: 0 0 5px 0;
}

h6.country-subtitle {
  margin: 5px 0;
}

#all-pizzas > li:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 10px;
  content: "\e080";
}

#button-container {
  margin-bottom: 15px;
}

#header {
  background: #FFE4CC;
  margin-bottom: 5px;
  border-radius: 5px;
}

#recipe-box {
  background: #92D3EC;
  border-radius: 5px;
}

#pizza-customizer {
  margin-top: 5px;
  background: #FFE4CC;
  border-radius: 5px;
}

#topping-list > li {
  list-style:none;
  padding-left: 15px;
}

.button, .button:hover {
  color: #333;
  font-weight: bold;
}

#recipe-group {
  margin: 1em 0;
  background: rgba(0, 0, 0, 0.1);
}

#chicago-recipe,
#ny-recipe,
#philly-recipe,
#rio-de-janeiro-recipe,
#naples-recipe,
#paris-recipe,
#berlin-recipe,
#moscow-recipe,
#athens-recipe,
#istanbul-recipe,
#new-delhi-recipe,
#nagoya-recipe {
  display: none;
}

.center {
  text-align: center;
}

.cities-column {
  width: 50%;
}

.list-item {
  padding-left: 2px;
}

.pizza-recipe:hover {
  cursor: pointer;
  text-decoration: underline;
}

.topping-column {
  padding-left: 6px;
  padding-right: 6px;
}
