.cities-column {
  width: 50%;
}

.list-item {
  padding-left: 2px;
}

h2#sub-heading {
  margin-top: -2px;
}

h1#heading {
  margin-top: -12px;
}

#recipe-box {
  background: #DDD;
}

#recipe-list, #recipe-description, #pizza-stats {
  background: #CCC;
  margin: 1em 0;
  height: 100%;
}

.topping-column {
  padding-left: 6px;
  padding-right: 6px;
}

.center {
  text-align: center;
}
